{% extends "ads/layout.html" %}

{% block title %}

    Display Ad

{% endblock %}

{% block body %}

    <h1>Display Ad</h1>

    <ul>
        <li>Title: {{ ad.title }}</li>
        <li>Description: {{ ad.description }}</li>
        <li>Price: {{ ad.price }}</li>
        <li>Image URL: {{ ad.image_url }}</li>
    </ul>

    {% if is_influencer  and not did_apply%}
        <form action="{% url 'apply' ad.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Apply">
        </form>
    {% endif %}
    {% if did_apply %}
        <p>You have already applied to this ad.</p>
    {% endif %}

{% endblock %}
```