{% extends "ads/layout.html" %}

{% block title %}

    Index

{% endblock %}

{% block body %}

    <h1>Index</h1>

    <ul>
        {% if is_influencer %}
        <h2>Ads not yet accepted</h2>
        {% for ad in ads_not_accepted_by_user %}
            <li>
                <a href="{% url 'ad' ad.id %}">{{ ad.title }}</a>
            </li>
        {% endfor %}
        <hr>
        <h2>Ads Accepted</h2>
        {% for ad in ads_accepted_by_user %}
            <li>
                <a href="{% url 'ad' ad.id %}">{{ ad.title }}</a>
            </li>
        {% endfor %}
        
        {% else %}
            <li>No ads found.</li>
        {% endif %}
    </ul>

{% endblock %}
